# Visit https://github.com/lowlighter/metrics#-documentation for full reference
name: Metrics
on:
  # Schedule updates (each 16 hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          # The following scopes are required:
          #  - public_access (default scope)
          # The following additional scopes may be required:
          #  - read:org      (for organization related metrics)
          #  - read:user     (for user related data)
          #  - read:packages (for some packages related data)
          #  - repo          (optional, if you want to include private repositories)
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: orsnaro
          template: classic
          base: metadata
          base_hireable: yes
          config_octicon: yes
          config_timezone: Africa/Cairo
          config_twemoji: yes
          
          plugin_languages: yes
          plugin_languages_indepth: yes
          plugin_languages_indepth_custom: orsnaro/ps-community-website , orsnaro/CP-study , orsnaro/Bmp-Manipulation-cpp@v0.1pre_A , orsnaro/Bmp-Manipulation-cpp@v0.5pre_A , orsnaro/Bmp-Manipulation-cpp@v1.0A , orsnaro/Bmp-Manipulation-cpp@v1.5B , orsnaro/Bmp-Manipulation-cpp@v1.6B
          plugin_languages_analysis_timeout: 15
          plugin_languages_details: lines
          plugin_languages_analysis_timeout_repositories: 100
          plugin_languages_categories: programming , data , prose ,scripting #other options: markup
          plugin_languages_recent_categories: programming , data , prose ,scripting #other options: markup
          plugin_languages_colors: github
          plugin_languages_ignored: Jupyter Notebook , HTML , CSS , JavaScript , TeX , java
          plugin_languages_skipped: orsnaro , PC-metrics-CMDER-config   #the repos that are skipped 
          plugin_languages_limit: 8
          plugin_languages_recent_days: 365
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          
          plugin_lines: yes
          plugin_lines_history_limit: 1
          plugin_lines_repositories_limit: 10
          plugin_lines_sections: base
    
          plugin_habits: yes
          plugin_habits_charts_type: classic
          plugin_habits_days: 30
          plugin_habits_facts: yes
          plugin_habits_from: 1000
          plugin_habits_skipped: orsnaro , PC-metrics-CMDER-config
          plugin_habits_languages_limit: 10
          plugin_habits_languages_threshold: 0%
          
          plugin_activity: yes
          plugin_activity_limit: 2
          plugin_activity_visibility: all #options : all , public
          plugin_activity_skipped: orsnaro , PC-metrics-CMDER-config , CP-study
          #plugin_activity_ignored: #later if you want to include orsnaro repo but ignore the bot acts

          plugin_achievements: yes
          plugin_achievements_secrets: yes
          plugin_achievements_display: compact
          plugin_achievements_threshold: C
          
       
          

          
          
          
       
